.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	font-size: 1.5rem;	
	color: #888;
}
.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}
/*Termina estrellas*/
/*Are de comentarios*/
.autorComentario{	
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
}
.areaComentario{	
	background-color: #fff;
	border-top: solid 1px #f2f2f3;
	border-bottom: solid 1px #f2f2f3;
	position: relative;
}
.alignDerecha{ /*Cambiar tama;o comentarios desde aqui*/
	display: inline-block;
	min-height: 80px;
	width: 400px;
}
.abajoImagen{	
	margin-left: 9px;
	text-align: center;
	width: 120px;
}
.verde{
	color: darkgreen;
}
.rojo{
	color: darkred;
}
.contenedorLibro{
	display: inline-block;	
	float: left;
	margin: 100px 10px 0 10%;	
	width: 450px;
}
.datosLibro{
	background-color: #fff;
	border-radius: 10px;
	margin: 0 auto;
	padding: 5px;
	position: relative;
	max-width: 410px;
	min-height: 240px;
}
.datosLibro img{
	padding: 5px;
	margin-left: 15px;
	max-width: 100px;
	display: inline-block;
}
.derecha{
	padding: 15px;
	position: absolute;	
	right: 10px;
	top:10px;
}
.comentario{
	font-size: 14px;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: justify;
}
.fechaComentario{
	color: #999999;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.fotoComentario{
	border: solid 2px #fff;
	-webkit-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.68);
	-moz-box-shadow:    0px 1px 12px rgba(50, 50, 50, 0.68);
	box-shadow:         0px 1px 12px rgba(50, 50, 50, 0.68);
	border-radius: 50%;
	float: left;
	height: 50px;
	margin: 10px 10px 0 10px;
	width: 50px;
}
.totalComentarios{
	background: rgba(25, 25, 25, 0.8);
	border:solid 2px #fff;
	border-radius: 10px 10px 0 0;
	color: white;
	display: none;
	padding: 5px 12px;
	text-align: right;
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}
.numComenarios{
	background-color: #fff;
	background: rgba(250, 250, 250, 0.5);
	border-radius: 10px;
	margin: 10px auto;
	padding: 10px;
	width: 410px;
}
.nuevo{
	background-color: #F2F2F3;	
}
#comentarLibro{
	margin: 0 auto;
	width: 450px;
}
#comentarLibro textarea{
	display: block;
	margin: 0 auto;
	height: 80px;
	resize: none;
	width: 415px;
}
#comentariosLibro{	
	display: inline-block;
	margin: 100px 5px;
	min-height: 465px;
	width: 500px;
}