*{
	margin: 0;
	padding: 0;	
	font: 16px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
	position:static; 
	/*color: #555555;*/
}
a{
	text-decoration: none;
	color: darkslategray;
}
a:hover{
	color: cornflowerblue;
}
body{
	/*background:#e3eef0 url(../img/bg_body.png);*/	
	background: url(../img/books1400px.jpg) no-repeat fixed center top #BDDDEB; /*#BADEEC*/
}
header{
	position:fixed !important;
	background: url(../img/head_bg.png);
	/*
	background-color: #F2F2F2;
    background-image: -moz-linear-gradient(center top , #FEFEFE, #F2F2F2); */
    top: 0;
	width: 100%;
	z-index:9999;
}
header img{
	width: 51px;
	margin-left: 20px;
	margin-top: 4px;
	position: relative;
}
li{
	list-style: none;
}
.menu ul{
	max-width: 500px;
	margin-top: -34px;
	position: absolute;
	right: 0;
}
.menu ul li{	
	display: inline-block;
	list-style: none;
	padding: 6px 10px;
	border-left: solid 1px gray;
}
.menu ul li a{
	color: cornflowerblue;	
}
.menu ul li a:hover{
	border-bottom: solid 1px darkcyan;
}
p{
	line-height: 22px;
}
footer{
	/*background: url(../img/head_bg.png);*/
	color: white;
	display: block;
	min-height: 50px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 100%;
}
footer p{
	font-size: 12px;	
}
form input, label, select{
	display: block;	
}
input[type=text],input[type=password], textarea, select{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #404040;      
    padding: 4px;
    position: relative;    
}
input:focus{
	border-color: cornflowerblue; /*#6CAC02 verde*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(108, 172, 2, 0.6);
    /*opacity: 0.7;*/
    outline: medium none;
}
textarea:focus{
	border-color: cornflowerblue; /*#6CAC02 verde*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(108, 172, 2, 0.6);
    opacity: 0.7;
    outline: medium none;
}
/*Formulario de registro*/
fieldset { padding:0; border:0; margin-top:25px; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; font-size: 14px; padding: 0.3em; }
#dialog-form{
    margin: 0 auto;
}
.autor{ /*Autor de cada respuesta en respuestas.php*/
	background-color: steelblue;
	border-bottom: solid 1px lightgray;
	border-radius: 5px 5px 0 0;
	color: white;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 2px 0 2px 10px;
}
.autor_preg{ /*Autor de la pregunta en respuestas.php*/		
	position: absolute;
	bottom: 10px;
	font-size: 12px;
	letter-spacing: 1px;	
}
.area_preguntas{ /*Area del foro donde se cargan mis datos de preguntas foro.php*/
	background-color: white;
	border: solid 1px lightgray;
	border-radius: 5px;
	display: block;
	margin: 5px 0;
	padding: 5px;
	position: relative;
	overflow: auto; /*No es relevante*/
}
.area_preguntas:hover{
	background-color: ghostwhite;
}
.boton{
	border:1px solid #25729a;-webkit-box-shadow: #B4B5B5 5px 5px 5px  ;-moz-box-shadow: #B4B5B5 5px 5px 5px ; box-shadow: #B4B5B5 5px 5px 5px  ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;width:180px;font-size:12px;font-family:tahoma, verdana, arial, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #3093c7;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3093c7), color-stop(100%, #1c5a85));
	background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 	background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 	background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 	background-image: linear-gradient(top, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
 	display: block;
 	margin: 15px auto;
}
.boton:hover {
	border:1px solid #1c5675; background-color: #7DADE3;
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7DADE3), color-stop(100%, #547CFF));
 	background-image: -webkit-linear-gradient(top, #7DADE3, #547CFF);
 	background-image: -moz-linear-gradient(top, #7DADE3, #547CFF);
 	background-image: -ms-linear-gradient(top, #7DADE3, #547CFF);
 	background-image: -o-linear-gradient(top, #7DADE3, #547CFF);
 	background-image: linear-gradient(top, #7DADE3, #547CFF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7DADE3, endColorstr=#547CFF);

}
.boton2{
	background: none repeat scroll 0 0 CornflowerBlue;
    border: 1px solid CornflowerBlue;
    border-radius: 7px 7px 7px 7px;
    color: white;
    cursor: pointer;
	display: block;
    font-size: 14px;  
    margin: 10px auto;  
    padding: 5px;
    text-align: center;
    width: 180px;
}
.boton2:hover{
	background: none repeat scroll 0 0 white;
    color: CornflowerBlue;
}
.boton_error{ /*Boton para cargar datos en foro.php*/
	background-color: darkred;
}
.boton_error:hover{
	background-color: white;
	color: darkred;
}
.bienvenido p{
	display: inline-block;	
	padding: 10px;
}
.cont{	/*divs de la pagina coleccion.php*/
	margin-top: 80px;
	height: 280px;
}
.contenedor{ /*Contiene todo mi contenido dentro del body*/	
	background-color: white;
	border: solid 1px lightgray;
	border-radius: 10px;
	display: block;
	max-width: 1024px;
	min-height: 515px;
	margin: 60px auto 10px auto;
	padding: 10px;
	position: relative;
}
.contenedorForo{
	background-color: white;	
	border-radius: 15px;
	display: block;
	margin: 70px auto 10px auto;
	max-width: 850px;
	min-height: 515px;
	padding: 10px;
	position: relative;
}
.contenedorRespuestas{
	margin: 50px 0;
}
.clickme{
	cursor: pointer;
}
.down, .up{
	cursor: pointer;
}
.facebook{ /*Logo facebook en el footer*/
	position: absolute;
	bottom: 10px;
	right: 30px;
}
.fecha_foro{ /*Fecha de la pregunta en el foro*/
	color: gray;
	position: absolute;
	right: 10px;
	bottom: 1px;
}
.fecha_foro span{
	font-size: 14px;
}
.fecha_preg{/*Fecha de la pregunta en respuestas.php*/	
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 12px;
	
}
.fecha_resp{/*Fecha de las respuestas*/
	color: gray;
	font-size: 12px;
	/*letter-spacing: 1px;*/
	position: absolute;
	bottom: 7px;
	left: 10px;
}
.frame{
	border: solid 1px gray;
	border-radius: 5px;
	margin-top: 30px;
	padding: 10px;
}
.footerPreg{	
	border-top: solid 1px lightgray;
	margin-bottom: 20px;	
}
.img_footer{
	width: 70px;
	margin: 0 50px;
}
.logo_tec{
	width: 200px;
}
/*Divs que muestran mensajes de libros pedidos*/
.mensaje_error{	
	color: crimson;
}
.mensaje_warning{
	color: goldenrod;
}
.mensaje_foro{ /*Respuestas en el foro.php*/
	margin-bottom: 10px;
}
.mensaje_foro a{
	font-size: 18px;
}
.msg_respuesta{ /*Mensajes de respuesta en respuestas.php*/	
	color: #444444;
	border-bottom: solid 1px lightgray;
	margin-bottom: 25px;
	padding: 5px 0;
	overflow: auto;
}

.msg_respuesta img, iframe, embed{ /*imagens, videos en respuesta en respuestas.php*/
	display: block;
	max-width: 670px;
	max-height: 430px;
	margin: 0 auto;
	padding: 15px 0;
}

.mensaje_preg{ /*Descripcion de la pregunta respuestas.php*/	
	color: darkslategray;
	font-size: 20px;
	padding: 10px 5px;
	min-height: 50px;
	margin-bottom: 22px;	
	max-width: 600px;
}
.mensajes_load{/*Mensajes de ajax respuestas.php*/
	position: absolute;
	right: 10px;
	bottom: 23px;
	color: darkred;
}
.num_respuestas{
	background-color: cornflowerblue;
	border: solid 1px royalblue;
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 12px;	
	padding: 5px;
	text-align: center;
	width: 80px;
}
.num_respuestas_cero{
	background-color: forestgreen;
	border: solid 1px royalblue;
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	width: 180px;
}
.pregunta_preg{ /*Pregunta a responder en respuestas.php*/
	border-bottom: solid 1px lightgray;
	padding: 5px;
}
.respuestas_alumnos{ /*Article de cada respuesta */
	position: relative;
	background-color: white;
	border: solid 1px lightgray;
	border-radius: 7px;
	display: block;
	max-width: 700px;
	margin: 15px auto;
	padding: 5px;
}
.respuesta{ /*Textarea responder pregunta*/
	display: block;
	margin: 0 auto;
	resize: none;
	width: 600px;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
.subir{	
	display: none;
	position: fixed;
	right: 30px;
	top: 83px;
	width: 40px
}
.subir:hover{
	cursor: pointer;
}
.tags_foro{
	/*background: none repeat scroll 0 0 #DEE9F4;*/
	border-top: solid 1px lightgray;
	/*color: #365C7F;*/	
	padding: 3px 0 0 0;
	min-height: 15px;
}
.tags_foro a{
	background-color: lightgray;
	border-radius: 2px;
	color: white;
	font-size: 14px;	
	padding: 1px 5px;
	
}
.total_resp{ /*Total de respuestas en respuestas.php*/
	color: white;
	font-weight:bold;
	max-width: 700px;
	margin: 20px auto 10px auto;
}
.voto{ /*Corazones resp*/	
	display: inline;
	position: absolute;	
	right: 2px;
	bottom: 2px;
	width: 53px;
}
.voto img:hover{
	cursor: pointer;
}
.votos{	
	color: #444444;
	display: inline;
	position: absolute;
	left: 30px;
}
.votar_pregunta{
	float: right;
	height: 70px;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	width: 60px;
}
.votos_preg{
	background-color: cornflowerblue;
	border: solid 1px royalblue;
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	padding: 4px;
	margin: 0 10px 10px 10px;
	width: 40px;
}
#contador_resp{ /*Div donde aparece el contador de letras*/
	display: block;
	margin: 0 auto;
	max-width: 700px;
}
#paginaColeccion{ /*Formulario de logeo*/
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-o-column-count: 2;
	column-count : 2;
	-moz-column-gap: 90px;
	-webkit-column-gap: 90px;
	column-gap: 90px;
	-webkit-column-rule: 1px solid #ccc; /*Linea divisora*/
	-moz-column-rule: 1px solid #ccc;
	column-rule: 1px solid #ccc;
	margin: 0 auto;
	width: 700px;
}
/*Article Pregunta en pagina respuestas.php*/
#pregunta_res{
	background-color: white;
	border-radius: 7px;
	box-shadow: 10px 10px 5px #888;
	display: block;
	margin: 10px auto 25px auto;
	padding: 10px;
	overflow: auto; /*No es relevante*/
	position: relative;
	max-width: 700px;
}
#tabs{/*respuestas.php*/
	display: block;
	max-width: 700px;
	margin: 0 auto;
}