#form { 
	background-color: white;
	border: solid 1px lightgray;
	border-radius: 9px;
	display: none;
	margin: 0 auto;
	max-width: 460px;
}
#form h2{
	color: cornflowerblue;
	text-align: center;
}
#form h1{
	color: darkred;
	text-align: center;
}
#form_preguntar label{
	color: darkcyan;
	margin-left: 30px;
	padding: 4px;
	max-width: 200px;
}
#form_preguntar input, textarea, select{
	display: block;
	width: 400px;
	margin: 0 auto;
}
#form_preguntar textarea{
	resize: none;
}
#contador_foro{
	display: block;
	padding: 10px 0;
	margin-left: 30px;
	max-width: 200px;
}