.ul{
	position: absolute;
	top: 9px;
	right: 10px;	
}
.ul li{
	border-left: solid 1px gray;
 	display: inline-block;
 	font-size:13px;
	line-height:18px;
	padding: 6px 10px;
 	position:relative;
}
.ul li a{
	color: cornflowerblue;
 	/*text-transform: uppercase;*/
 	padding: 1px 5px;
 	text-decoration:none;
}
.ul li a:hover{
	border-bottom: solid 1px darkcyan;
}
.ul li ul{
	display:none;
 	position:absolute;
 	top: 33px;
 	left: 0; 	
 	width: 150px; 	
 	padding:0; 	
}
.ul li ul li{
	background: url(../img/head_bg.png);	
 	border-top:none;
 	display: inline-block;
 	padding: 10px 20px;
	width: 110px;
}
.ul li ul li img{
	display: inline;
	width: 20px;
	margin-left: -10px;
}
.quien{
	margin:0 5px -2px 0;
	width: 15px;
}